<div class="container-fluid text-center">
    <h1 className="font-weight-bold">Express User Boilerplate</h1>
    <hr>
    <div class="container d-flex align-middle justify-content-center mt-5">
        <form class="form-group" method="POST" action="/">
            <img class="mb-4" src="https://getbootstrap.com//docs/4.3/assets/brand/bootstrap-solid.svg" alt=""
                width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="username" id="username" name="username" class="form-control mt-2" placeholder="Email address"
                required="" autofocus="" autocomplete="off">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control mt-2" placeholder="Password"
                required="" autocomplete="off">
            <button class="btn btn-lg btn-primary btn-block my-5" type="submit">Sign in</button>
            <a href="/signup">Register</a>
        </form>
    </div>
</div>